:root {
  --red: #d92323;
  --hp-font: "hp";
  --gray: rgba(217, 217, 217, .1);
}

/* My Fonts */
@font-face {
  font-family: Avelire;
  src: url('./assets/fonts/AVELIRE.ttf');
}

@font-face {
  font-family: Butler;
  src: url('./assets/fonts/Butler_Regular_Stencil.otf');
}

@font-face {
  font-family: PlayfairDisplay;
  src: url('./assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}


/* Default CSS */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

.body {
  overflow: hidden;
  font-family: Butler, 'sans-serif' !important;
}

section {
  margin-top: 75px;
}

.red-text {
  color: var(--red);
}

/* Navbar */
.navbar {
  background-color: transparent;
  padding: 1rem;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  transition: 0.32s ease-in-out;
}

.nav-container {
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.navbar.scrolled {
  background-color: #0d0d0d;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
  color: #f0f0f0;
}

.navbar-link {
  color: #f0f0f0 !important;
  font-weight: 500;
  transition: color 0.3s ease;
  text-decoration: none;
}

.navbar-link:hover {
  color: var(--red);
}

.navbar-link.active {
  color: var(--red) !important;
  font-weight: 600;
}

.navbar-toggler {
  border: none;
}

.social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid transparent;
  color: #f0f0f0 !important;
  background-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.4s ease;
  position: relative;
}

/* Hover effect */
.social-icon a:hover {
  background-color: var(--red);
}


.social-icon i {
  transition: color 0.4s ease;
}

button,
.navbar .btn-primary {
  background-color: var(--red);
  border: 1px solid white;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;

}

button:hover,
.navbar .btn-primary:hover {
  color: var(--red);
  background-color: white;
  border: 1px solid var(--red);
}

.navbar-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}


/* Banner */
.banner {
  margin-top: 0;
  min-height: 60vh;
  overflow: hidden;
  padding: 80px 20px 0px;
  background-color: grey;
  display: flex;
  align-items: end;
  justify-content: center;
}

.intro-banner {
  min-height: 300px;
}

.intro-left {
  align-items: center !important;
  justify-content: center !important;
  padding-bottom: 45px;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner h2 {
  font-size: 2rem;
}

.banner .highlight {
  color: var(--red);
}

.banner p {
  font-size: 1.2rem;
}

.banner a {
  padding: 0.75rem 1.5rem;
  background-color: var(--red);
  border: none;
  color: white !important;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.banner a:hover {
  background-color: white;
  color: var(--red) !important;
}

/* My Image */

.intro-right {
  display: flex;
  justify-content: center;
  align-items: end;
}

.profile-image {
  max-width: 100%;
  height: 100%;
}

/* Skills */


.skill-wheel {
  margin: auto;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 10s linear infinite;
}

.skill-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s ease, filter .3s ease;
  transform-origin: center;
 
}

.skill-icon img {
  width: 30px;
  height: 30px;
  animation: counter-rotate 10s linear infinite;
}

.skill-icon img:hover {
  animation-play-state: paused; 
  animation: none !important;
  transform: rotate(0deg);
}

.skill-center:hover {
  animation-play-state: paused; 
  animation: none !important;
  transform: rotate(0deg);
}

.skill-center {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  pointer-events: none;
  animation: counter-rotate 10s linear infinite;
  text-align: center;

}


/* Animations */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes counter-rotate {
 0% {
   transform: rotate(0deg);
 }
 100% {
   transform: rotate(-360deg);
 }
}

/* Contact Me */
.contact-container {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.left {
  margin: auto;
}

.left h2 {
  margin-bottom: 16px;
  font-size: 2.5rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.contact-form .form-label {
  font-weight: bold;
}

.contact-form textarea {
  resize: none;
}

.contact-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

.footer-box {
  min-width: 300px;
}

.footer-row {
  display: flex;
  justify-content: space-evenly;
}

/* Medium */
@media (max-width: 768px) {
  .navbar .navbar-collapse {
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
  }

  .navbar {
    background-color: #0d0d0d;
  }

  .nav-container {
    max-width: 100% !important;
  }

  .nav-links {
    align-items: center;
  }

  .navbar-text {
    gap: 10px;
    flex-grow: 0;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
  }

  .social-icon a {
    margin: 0;
    margin-right: 10px;
  }

  .navbar .btn-primary {
    width: 100%;
  }

  .intro-left {
    padding-bottom: 0;
  }

  .contact-container {
    width: 90% !important;
  }


  .contact-form {
    width: 100%;
  }

}

/* Large */
@media (max-width: 992px) {
  .right {
    display: none;
  }
}

